
.entry-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    z-index: 9999;
    opacity: 1;
    cursor: pointer;
}

.entry-container.hidden {
    opacity: 0;
}

#entry-title {
    font-size: 340%;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(40) forwards;
    text-align: center;
}

@media only screen and (max-width: 601px) {
    #entry-title{
        font-size: 20px;
    }
}

@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
}

#entry-text {
    font-size: 24px;
    opacity: 0;
    animation: fade-in 3s forwards;
    text-align: center;
    color: #ffca28;

}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.rotate-zoom {
    animation: rotateZoom 2.5s;
    transform-origin: center;
}

@keyframes rotateZoom {
    0% {
        transform: rotate(0deg) scale(0);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
