/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.vertical-line {
  width: 100%;
  height: 2px; /* Choisissez la hauteur de la ligne en pixels */
  background-color: black;
    margin-bottom: 30px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    display: flex;
    align-items: center;

    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding-right: 20px;

}
.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drapeau {
    margin-left: 10px;
}

.drapeauImage {
    width: 50px;
    height: auto;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    color: #ffca28;
}
/* CSS pour créer deux colonnes centrées avec l'image à droite et le texte à gauche */
section {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}



img {
    max-width: 50%;
    height: auto;
}


.profile-picture {
    width: auto;
    height: 70px;
    float: left;
    margin-left: 15px;
    margin-right: 20px;

}

.left-section small{
    margin-right: 33px;
}
small{
    font-size: 8px;
}
#myH1 {
    margin: 0;
    font-size: 32px;
    color: #fff;
}

h1 {
    font-size: 43px;
    text-align: center;
    margin-top: 5px;
    font-family: "CustomFont", sans-serif;
}

h2 {
    text-align: center;

    margin-bottom: 12px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 90px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ffca28;
}

header div div h1 {
    text-align: center;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffca28;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left center;
}

nav ul li:hover::after {
    transform: scaleX(1);
}


/* Main */
main {
    padding: 20px;
    margin-top: 110px;

}

.presentation {
    display: inline;
    align-items: center;
    margin-bottom: 20px;
}

#presentation img {
    max-width: 100%;
    height: 20em; /* Définissez la hauteur maximale souhaitée */
    width: auto;
    margin: 0 auto;
}

.info {
    flex-grow: 1;
}

.subtitle {
    font-style: italic;
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 20px;
}

.contact-item {
    display: block;
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-line {
    margin: 5px 10px;
}

footer p,
footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffca28;
}

footer p{
    font-size: 11px;
    text-align: center;
}

footer ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #ffca28;
}

footer ul li::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffca28;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left center;
}

footer ul li:hover::after {
    transform: scaleX(1);
}

p{
    margin-bottom: 10px;
    text-align: left;
}
h2{
    text-align: center;
}


.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 600px; /* Définissez la largeur maximale souhaitée */
    height: 300px; /* Définissez la hauteur souhaitée */
    margin: 0 auto; /* Centre le carrousel horizontalement */
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Empêche les images de se déformer */
    transition: transform 0.5s;
}

.carousel:hover img {
    transform: scale(1.1);
}

#stage {
    align-items: center;
}

#stage .content {
    flex: 1;
}

#presentation {
    align-items: center;
}

#presentation .content {
    flex: 1;
}
#stage video {
    max-width: 600px;
    height: 300px; /* Définissez la hauteur maximale souhaitée */
    width: 100%;

    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}
.paragraphe{
    margin-left: 2em;
    text-align: justify;
}

.intitule{
    font-size: 1.3em;
    text-align: center;
}

.annee{

    text-align: center;
    font-size: 1.3em;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images3 {
    display: flex; /* Active le modèle de boîte flexible */
    flex-wrap: nowrap;
}
.Image2 {
    height: 160px;
    width: auto;
    object-fit: contain;
    display: block; /* Convertit l'image en élément de type bloc */
    margin-left: auto; /* Définit la marge gauche automatique */
    margin-right: auto;
}
.Image1 {
    height: 200px;
    width: auto;
    object-fit: contain;
}

#animated-title {
    visibility: hidden;
    display: inline-block;
}

.texte4,
.RechercheStage,
.title{
    text-decoration: underline;
    font-size: 1.7em;
}
.title2{
    font-size: 1.5em;
    color: #ffca28;
}

.experience{
    margin-top: 90px;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.icon-bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

.navbar-dropdown {
    display: none;
    list-style-type: none;
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar-dropdown.active {
    display: block;
}

/* Styles spécifiques pour les appareils mobiles */

.images video,
.images img{
    align-items: center;
    width: 40%;
}
.wulliIMG{
    width: 10%;
}

.progress-bar {
    width: 200px;
    height: 10px;
    background-color: #ccc;
    margin-bottom: 5px;
}

.progress {
    height: 100%;
    background-color: #ffca28;
    width: 0;
    transition: width 1s ease-in-out;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.language {
    font-weight: bold;
    margin-right: 10px;
}

.percentage {
    margin-left: 5px;
    font-weight: bold;
}

.progress-80 {
    width: 80%;
}
.progress-100 {
    width: 100%;
}

.progress-30 {
    width: 30%;
}

.progress-60 {
    width: 60%;
}

.progress-70 {
    width: 70%;
}

section div h3{
    color: #ffca28;

}

.section2 {
    text-align: center;
    display: flex;
}

.glue{
    padding: 10px;
}

.images {
    text-align: center;
}

.smallImg{
     height: 9em; /* Réglez la hauteur souhaitée pour toutes les images*/
     width: auto; /* Les images conserveront leur largeur d'origine */
     margin: 10px;
}
.smallImg1{
     height: 13em; /* Réglez la hauteur souhaitée pour toutes les images*/
     width: auto; /* Les images conserveront leur largeur d'origine */
     margin: 10px;
}

.gauge-container {
  text-align: center;
}

.gauge {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e0e0e0;
}

.fills {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #00bfff;
  transform-origin: center center;
}

.percentagesssss {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

html,body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Cela assure que l'élément "main" est centré même si le contenu est court */
}


:root{
  --size:100px;/*dimmension jauge*/
  --pi:3.14159265;
  --circle-r:30%;/*rayon cercle*/
  --nb-percent:0;/*pourcent remplissage jauge sans unité*/
  --nb-percent-str:'0%';/*pourcent remplissage jauge sans unité*/
  --dasharray-max: calc(2* var(--pi) * var(--circle-r));/*Calcul longueur Max de la jauge*/
  --dasharray-size: calc(var(--dasharray-max) * var(--nb-percent)/100);/*calcul remplissage jauge*/

}

.pie{
  display: flex;
  position: relative;
  height: var(--size);
  width: var(--size);
  margin: 20px;
  border-radius: 50%;
  box-shadow:0 0 1px rgba(255,255,255,.5) ;
     align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pie:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border:1px solid rgba(0,0,0,.5);
  left:-1px;
  top: -1px;
  border-radius: 50%;
  box-shadow:
          0 0 4px rgba(255,255,255,.1),
          0 0 15px rgba(0,0,0,.2),
          0 0 8px rgba(0,0,0,1) ,
          0 0 8px rgba(0,0,0,.5) ;
}
svg{
     align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  left:0;
  top: 0;
  transform:rotate(-90deg) ;
}

circle{
  stroke:#ffca28 ;
  stroke-width: 39.7% ;
  stroke-dasharray: var(--dasharray-size),var(--dasharray-max) ;
  transition: all .2s linear;
}
.circle2{
  stroke:#00bfff ;
}
.circle3{
  stroke: forestgreen ;
}
.circle4{
  stroke: brown ;
}
.circle5{
  stroke: dimgrey ;
}
.nb{
  --nb-size: calc(var(--circle-r)*2.3);
  --aligmenement: calc( 50% - var(--nb-size)/2);
  background: linear-gradient(180deg, #fff 0%, #999 100%);
  color:#333;
  height: var(--nb-size);
  width: var(--nb-size);
  position: absolute;
  top: var(--aligmenement);
  left: var(--aligmenement);
  border-radius: 50%;
  box-shadow:
          0 0 10px rgba(0,0,0,.9),
          0 0 15px rgba(255,255,255,.8) inset;
  font-size: calc( var(--size)* .2);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif ;
  font-weight: bold;
  line-height: calc(var(--size) / 1.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  transition: all .2s linear;
}
.nb2{
  --nb-size: calc(var(--circle-r)*2.3);
  --aligmenement: calc( 50% - var(--nb-size)/2);
  background: linear-gradient(180deg, #fff 0%, #999 100%);
  color:#333;
  height: var(--nb-size);
  width: var(--nb-size);
  position: absolute;
  top: var(--aligmenement);
  left: var(--aligmenement);
  border-radius: 50%;
  box-shadow:
          0 0 10px rgba(0,0,0,.9),
          0 0 15px rgba(255,255,255,.8) inset;
  font-size: calc( var(--size)* .2);
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif ;
  font-weight: bold;
  line-height: calc(var(--size) / 1.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  transition: all .2s linear;
}
.nb:after{
  content: var(--nb-percent-str) ;
}

.TittreJauge{
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flexxx{
  margin: 0;
  display: flex;
  justify-content: center;
    align-content: center;
    text-align: center;
}

.titreJauge{
    text-align: center;
}
.mobile-header{
    display: flex;
}
.b ul li{
        margin-left: 3rem;
        margin-right: 3rem;
    }

@media (max-width: 1190px) {
    #presentation,
    #stage,
    #actualites,
    .normal2,
    .normal,
    .section2{
        display: inline;
    }
    .left-section{
        align-items: center;
    }
    .left-section small{
        margin: 2px;
    }
    .left-section a img{
        margin: 1px;
    }
    .left-section a{
        display: inline;
    }
    #carousel{
        display: none;
       width: 0;
        height: 0;
    }
    #presentation img,
    #stage img{
        max-width:80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
     .normal2 .content img,
     .normal2 .images img,
     .normal .images img,
     .section2 .images img{
         width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
     .normal2 .content .Image1{
         width: 600px;
     }
    .b{
        display: none;
    }
    .navbar-toggle{
        margin-top: 2px;
        margin-left: 10px;
    }
    .a ul {
        margin-left: 30px;
    }
    .a ul li{
        margin: 3px;
    }
    .normal1{
        display: none
    }
    .images3{
        display: none;
    }
    .normal2 .content .Image2{
       max-width:40%;
        height: auto;
        margin-top: 20px;
    }
    .normal2 .content h3{
        display: none;
    }
    .normal2 .content p{
        margin-left: 2px;
        margin-right: 2px;
    }
    .flexxx {
        display: flex;
        flex-wrap: wrap;
    }
    .flexxx>* {
        flex: 1 1 110px;
    }
    .pie{
        margin: auto;
    }
    #presentation img{
        display: none;
    }
    #presentation .content img{
        display: flex;
    }
}
@media (min-width: 1190px) {
    .a{
        display: none;
    }
    .b{
        display: flex;
    }
    .computer-header{
        display: flex;
    }
    .normal2,
    .deu{
        display: none;
    }
    #carousel2{
        display: none;
    }
    #presentation .content img{
        display: none;
    }
}

@media only screen and (max-width: 1190px) {
    .navbar-links {
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
}
